doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Helen &amp; Shawn are getting married!

    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet", href="/vendors/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", href="/fonts/fonts.css")
    link(rel="stylesheet", href="/css/main.css")

    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    <![endif]-->

  body
    div.jumbotron
      div.container
        div.squirrel
            div.img
            p.date August 2nd, 2014
        div.navigation
            ul
                li.active
                    a(href="/") Home
                li
                    a(href="rsvp") RSVP
                li
                    a(href="/events") Events
                li
                    a(href="/sault-st-marie") The Soo
                li
                    a(href="/registry") Registry
                li
                    a(href="/contact") Contact
    div.border
    div.container
        != yield
    script(src="/vendors/jquery/jquery.min.js")
    script(src="/js/jquery.arctext.js")
    script(src="/js/app.js")
