h1 Events

p Our wedding is taking place on Squirrel Island&mdash;a remote island located 25 minutes outside of Sault Ste. Marie. It&rsquo;s accessible by private boat and there are 11 cottages on the island. (No stores, restaurants, etc.) So please bring everything you need with you to the wedding.

p We will provide transportation from the Holiday Inn Express to Squirrel Island (and back) on Saturday and Sunday. On Saturday night, the bus will return to Sault Ste. Marie at 9pm and 1am.

h3 Friday, August 1st

h5 Meet and Greet at LopLops
p Downtown, Sault Ste. Marie
p 3pm-7pm
p Cash Bar
 
h3 Saturday, August 2nd

h5 The Wedding!

p Squirrel Island
p Bus leaves Holiday Inn at 1:30pm
p Arrive to the island at 2:00pm. Last pontoon boat across at 2:45pm
p Bus returns to Holiday Inn at 9:00pm and 1:00am
 
h3 Sunday, August 3rd

p Swimming, Camp Olympics, BBQ
p Squirrel Island
p Bus leaves Holiday Inn at 1:00pm. Arrive to island at 1:30pm
p BYOB. There's a liquor store in the Station Mall across from the Holiday Inn
p Bus returns to Holiday Inn at 8:00pm
 
h3 Monday, August 4th
p Visit to Lake Superior/Pictographs if you feel so inclined. (self-organized)

h3 Saturday, August 23rd
p Vancouver desert reception. 7:30pm. 1022 Seymour St. <a href="/vancouver-rsvp">Please RSVP</a>.

p
    strong Note: Some times are subject to change. Check back closer to event date.