h1 Events

p Our wedding is taking place on Squirrel Island&ndash;a remote island located 25 minutes outside of Sault Ste. Marie. The island is accessible by private boat and there are 11 cottages on the island. (No stores, restaurants, etc.) So please bring everything you need with you to the wedding.

p We will provide transportation from the Holiday Inn Express to Squirrel Island (and back) on Saturday and Sunday. On Saturday night, the bus will return to Sault Ste. Marie at 9pm and 1am.

h3 Friday, August 1st

h5 Meet and Greet at LopLops
p Downtown, Sault Ste. Marie
p 3pm-7pm
p Cash Bar
 
h3 Saturday, August 2nd

h5 The Wedding!

p Squirrel Island
 
h3 Sunday, August 3rd
p Swimming, Camp Olympics, BBQ
p Squirrel Island
 
h3 Monday, August 4th
p Visit to Lake Superior/Pictographs if you feel so inclined. (self-organized)
