div.invitation
    p Together with their families
    p Miss Helen Catherine Stortini
    p and
    p Mr. Shawn Langworthy Price
    p request the pleasure of your company
    p at their marriage
    p Saturday, the second of August
    p two thousand and fourteen
    p The Stortini Cottage
    p Squirrel Island, Ontario
    p Kindly <a href="/rsvp">RSVP</a>