h1 The Soo

p Our wedding is taking place on Squirrel Island--a remote island located 25 minutes outside of Sault Ste. Marie. The island is accessible by private boat and there are 11 cottages on the island. (No stores, restaurants, etc.) So please bring everything you need with you to the wedding.

h3 Braving the Elements
p Our festivities will take place outdoors and in a tented area. Please bring something warm to wear while on the island. It cools off by the water once the sun goes down. Our wedding will involve boat rides, docks, and a whole lotta lawn (and lawn sports!). For all you heel wearing ladies (and gents), stilettos are probably not ideal unless you get something like these. 

h3 Accommodations
p We’ve reserved a block of rooms at the Holiday Inn Express in downtown Sault Ste. Marie. There are standard rooms available for $110 and suites for $169. The rate includes breakfast. The transportation we have organized to the Island will pick guests up here. 

p Call 1-888-329-7776 and quote “PSW” when booking to receive the discounted rate. We advise booking sooner rather than later as there are limited rooms and the hotels will fill up fast on the long weekend. This rate is only valid until June 30th. 

p When we visited the Soo last fall, we visited a number of hotels and found the Holiday Inn Express to be the nicest, most modern and most affordable. 

p Note: If you look online to try and get a better rate--be sure you aren’t booking a hotel in Sault Ste. Marie, MI. 

h3 Camping
p The night of the wedding, there will be camping available on the island. Bring your own gear. Or let us know way in advance and we might be able to help you find some.
 
h4 Transportation
p Squirrel Island is located near Echo Bay, Ontario—about a 20-minute drive outside of the Soo. On both Saturday and Sunday, we will provide transportation from downtown Sault Ste. Marie to Squirrel Island (and back)

h4 Saturday
p All pick-ups and drop-offs from the Holiday Inn Express
p To  Squirrel Island– 1:30pm
p To the Soo – 9pm and 1am
 
h4 Sunday
p To Squirrel Island – 1pm
p To the Soo  - 8pm
 
h3 Getting to the Soo
p Yes. It’s kind of in the middle of nowhere. But that’s the point!
p From Vancouver—Only Air Canada flies direct to Sault Ste. Marie. You must fly through Toronto to get to there. It doesn’t make sense. But that’s just the way it is. 
p If you are flying on Aeroplan points, it’s possible to book a free stopover in Toronto. You have to call them. It won’t work online. It messes with the system because you have to fly east and then west--even the computer knows it doesn’t make any sense. However, if you call them, they can book the stopover for you.

p Sign up here to an email list that will alert you to seat sales as they come up!
p Porter also flies to Sault Ste. Marie from downtown Toronto.  If you are considering spending some time in Toronto before heading to the Soo, this is a good option as there are often great sales. And there is free wine. (Yes, that’s right. FREE WINE!)
p To get to Sault Ste. Marie from the airport--the best option is a six-person taxi. It’s a flat rate of $30. 

h3 Eat/Drink/Do
p Coming soon. 

h3 Squirrel Island
iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6353.326106058832!2d-84.11733695000008!3d46.52198995303293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d364ff77f4985fd%3A0x45d0f0212265ccd4!2sSquirrel+Island!5e1!3m2!1sen!2s!4v1395292520261", width="600", height="450", frameborder="0", style="border:0")